<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">JupiterBlog</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">Sign out</a>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="dashboard">
                            <span data-feather="home"></span> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blogs/add">
                            <span data-feather="file"></span> Blog Add
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="table">
                            <span data-feather="file"></span> Database List
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Blog Add</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form [formGroup]="blogAddForm">
                        <div class="mb-3">
                            <label for="productName">Başlık</label>
                            <div class="form-group">
                                <input type="text" id="baslik" formControlName="title" class="form-control" placeholder="Başlık" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="categoryId">Etiket</label>
                            <div class="form-group">
                                <input type="text" id="etiket" formControlName="tagId" class="form-control" placeholder="Etiket" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="categoryId">Oluşturma Tarihi</label>
                            <div class="form-group">
                                <input type="text" id="tarih" formControlName="createTime" class="form-control" placeholder="Oluşturma Tarihi" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="unitsInStock">Yazar</label>
                            <div class="form-group">
                                <input type="text" id="yazar" formControlName="authorId" class="form-control" placeholder="Yazar" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="unitPrice">Blog</label>
                            <div class="form-group">
                                <textarea id="content" formControlName="content" class="form-control" placeholder="Blog"> </textarea>
                            </div>
                        </div>
                    </form>
                    <div class="card-footer">
                        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
                    </div>
                </div>
            </div>
            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            <div class="table-responsive">
            </div>
        </main>
    </div>
</div>